[Match]
Name=br0

[Network]
#DNS=192.168.1.3
#Address=192.168.1.30/24
#Gateway=192.168.1.3
VLAN=br0.7
VLAN=br0.99

[BridgeVLAN]
VLAN=7

[BridgeVLAN]
VLAN=99
